{{ error }}

<form>
    <div class="form-group">
        <label>Cuenta</label>
        <input type="password" class="form-control" ng-model="nueva_cuenta.cuenta_id">
    </div>
    <div class="form-group">
        <label>Descripción</label>
        <input type="text" class="form-control" ng-model="nueva_cuenta.descripcion">
    </div>
    <div class="form-group">
        <label>Tipo</label>
        <select ng-model="nueva_cuenta.instruccion">
            <option value="1">Retiro</option>
            <option value="0">Deposito</option>
        </select>
    </div>
    <div class="form-group">
        <label>Monto</label>
        <input type="number" class="form-control" ng-model="nueva_cuenta.monto">
    </div>
    <button ng-click="guardarTransaccion()" class="btn btn-default">Submit</button>
</form>
